{
  "swagger": "2.0",
  "info": {
    "title": "Vinted API",
    "description": "Designed for Le Reacteur Bootcamp",
    "version": "1.1.1"
  },
  "host": "site--backend-vinted--fg6zdpvl2w9z.code.run",
  "basePath": "/",
  "schemes": [
    "HTTPS"
  ],
  "paths": {
    "/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/signup": {
      "post": {
        "summary": "Create a new user",
        "description": "",
        "parameters": [
          {
            "name": "parameter_name",
            "in": "body",
            "description": "Some description...",
            "schema": {
              "$ref": "#/definitions/AddUser"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "summary": "Log a user",
        "description": "",
        "parameters": [
          {
            "name": "parameter_name",
            "in": "body",
            "description": "Some description...",
            "schema": {
              "$ref": "#/definitions/LogInUser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/offers": {
      "get": {
        "summary": "Receive a list of offers. Possibility to filter the results.",
        "description": "",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "type": "string"
          },
          {
            "name": "priceMin",
            "in": "query",
            "type": "string"
          },
          {
            "name": "priceMax",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/offer/{id}": {
      "get": {
        "summary": "Get an offer.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/offer/publish": {
      "post": {
        "summary": "Create a new offer.",
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "price": {
                  "example": "any"
                },
                "brand": {
                  "example": "any"
                },
                "size": {
                  "example": "any"
                },
                "condition": {
                  "example": "any"
                },
                "color": {
                  "example": "any"
                },
                "city": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/offer/update/{id}": {
      "put": {
        "summary": "Update an offer.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "price": {
                  "example": "any"
                },
                "brand": {
                  "example": "any"
                },
                "size": {
                  "example": "any"
                },
                "condition": {
                  "example": "any"
                },
                "color": {
                  "example": "any"
                },
                "location": {
                  "example": "any"
                },
                "city": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/offer/delete/{id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }

    },
    "/offer/archive/{id}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/payment": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "amount": {
                  "example": "any"
                },
                "token": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }

    }
  },
  "definitions": {
    "AddUser": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "example": "jd@lereacteur.io"
        },
        "password": {
          "type": "string",
          "example": "azerty"
        },
        "username": {
          "type": "string",
          "example": "johndoe"
        },
        "newsletter": {
          "type": "boolean",
          "example": true
        }
      }
    },
    "LogInUser": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "example": "azerty"
        },
        "username": {
          "type": "string",
          "example": "johndoe"
        }
      }
    }
  }
}